In [61]:
import pandas as pd
import warnings
import string
import re
import nltk
from nltk.corpus import stopwords , wordnet ,state_union
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk import Text

from spellchecker import SpellChecker

pd.pandas.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [ ]:
# !pip install pyspellchecker

## Partie I :

### Exercice 1 :

##### Question 1 :

In [ ]:
df = pd.read_csv("spam_ham_dataset.csv")

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [ ]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

##### Question 2 :

In [ ]:
df.loc[:, ['text', 'label']].head()

                                                text label
0  Subject: enron methanol ; meter # : 988291\r\n...   ham
1  Subject: hpl nom for january 9 , 2001\r\n( see...   ham
2  Subject: neon retreat\r\nho ho ho , we ' re ar...   ham
3  Subject: photoshop , windows , office . cheap ...  spam
4  Subject: re : indian springs\r\nthis deal is t...   ham

##### Question 3 :

In [ ]:
df.shape

(5171, 4)

In [ ]:
df["label"].value_counts()

label
ham     3672
spam    1499
Name: count, dtype: int64

##### Question 4 :

In [ ]:
def delete_ponctuation(text):
    text2 = text.translate(str.maketrans("", "", string.punctuation))
    return text2

In [ ]:
text = "->la ponctuation, est : enlevée_de cette ? phrase.!"
print(delete_ponctuation(text))

la ponctuation est  enlevéede cette  phrase

##### Question 5 :

In [ ]:
df['text_p'] = df['text'].apply(delete_ponctuation)

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num,text_p
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject enron methanol meter 988291\r\nthis...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,Subject hpl nom for january 9 2001\r\n see at...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject neon retreat\r\nho ho ho we re aroun...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,Subject photoshop windows office cheap mai...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject re indian springs\r\nthis deal is to ...

##### Question 6 :

In [ ]:
df['text_lower'] = df['text_p'].str.lower()

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num,text_p,text_lower
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject enron methanol meter 988291\r\nthis...,subject enron methanol meter 988291\r\nthis...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,Subject hpl nom for january 9 2001\r\n see at...,subject hpl nom for january 9 2001\r\n see at...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject neon retreat\r\nho ho ho we re aroun...,subject neon retreat\r\nho ho ho we re aroun...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,Subject photoshop windows office cheap mai...,subject photoshop windows office cheap mai...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject re indian springs\r\nthis deal is to ...,subject re indian springs\r\nthis deal is to ...

##### Question 7 :

In [ ]:
def tokenizer(text):
    tokens = re.findall(r'\b\w+\b', text)
    return tokens

In [ ]:
df['text_tokenise'] = df['text_lower'].apply(tokenizer)

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num,text_p,text_lower,text_tokenise
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject enron methanol meter 988291\r\nthis...,subject enron methanol meter 988291\r\nthis...,"[subject, enron, methanol, meter, 988291, this..."
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,Subject hpl nom for january 9 2001\r\n see at...,subject hpl nom for january 9 2001\r\n see at...,"[subject, hpl, nom, for, january, 9, 2001, see..."
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject neon retreat\r\nho ho ho we re aroun...,subject neon retreat\r\nho ho ho we re aroun...,"[subject, neon, retreat, ho, ho, ho, we, re, a..."
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,Subject photoshop windows office cheap mai...,subject photoshop windows office cheap mai...,"[subject, photoshop, windows, office, cheap, m..."
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject re indian springs\r\nthis deal is to ...,subject re indian springs\r\nthis deal is to ...,"[subject, re, indian, springs, this, deal, is,..."

##### Question 8 :

In [ ]:
nltk.download('stopwords')
stop_words_english = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [ ]:
stop_words_english[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

##### Question 9 :

In [ ]:
stop_words_english = set(stopwords.words('english'))

In [ ]:
def remove_stopwords(tokens):
    tokens_no_stopwords = [word for word in tokens if word.lower() not in stop_words_english]
    return tokens_no_stopwords

In [ ]:
df['no_stopwords'] = df['text_tokenise'].apply(remove_stopwords)

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num,text_p,text_lower,text_tokenise,no_stopwords
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject enron methanol meter 988291\r\nthis...,subject enron methanol meter 988291\r\nthis...,"[subject, enron, methanol, meter, 988291, this...","[subject, enron, methanol, meter, 988291, foll..."
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,Subject hpl nom for january 9 2001\r\n see at...,subject hpl nom for january 9 2001\r\n see at...,"[subject, hpl, nom, for, january, 9, 2001, see...","[subject, hpl, nom, january, 9, 2001, see, att..."
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject neon retreat\r\nho ho ho we re aroun...,subject neon retreat\r\nho ho ho we re aroun...,"[subject, neon, retreat, ho, ho, ho, we, re, a...","[subject, neon, retreat, ho, ho, ho, around, w..."
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,Subject photoshop windows office cheap mai...,subject photoshop windows office cheap mai...,"[subject, photoshop, windows, office, cheap, m...","[subject, photoshop, windows, office, cheap, m..."
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject re indian springs\r\nthis deal is to ...,subject re indian springs\r\nthis deal is to ...,"[subject, re, indian, springs, this, deal, is,...","[subject, indian, springs, deal, book, teco, p..."

##### Question 10 :

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...

True

In [ ]:
porter_stemmer = PorterStemmer()
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
def stem_words(words):
    return [porter_stemmer.stem(word) for word in words]

In [ ]:
def get_wordnet_pos(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ, "N": wordnet.NOUN, "V": wordnet.VERB, "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [ ]:
def lemmatize_words(words):
    return [wordnet_lemmatizer.lemmatize(word, pos=get_wordnet_pos(word)) for word in words]

In [ ]:
df['text_stem'] = df['no_stopwords'].apply(stem_words)
df['text_lem'] = df['no_stopwords'].apply(lemmatize_words)

LookupError:
**********************************************************************
  Resource averaged_perceptron_tagger not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('averaged_perceptron_tagger')

  For more information see: https://www.nltk.org/data.html

  Attempted to load taggers/averaged_perceptron_tagger/averaged_perceptron_tagger.pickle

  Searched in:
    - 'C:\\Users\\ASUS/nltk_data'
    - 'c:\\Program Files\\Python310\\nltk_data'
    - 'c:\\Program Files\\Python310\\share\\nltk_data'
    - 'c:\\Program Files\\Python310\\lib\\nltk_data'
    - 'C:\\Users\\ASUS\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
df.head()

### Exercice 2 :

##### Question 1 :

In [20]:
para = """A beutiful and kand-heartedd gerrl nammed Ella and her parints livve hapily in a latge
hous withe a feiw sarvints, unttil her mather fals ille and laterr dies. Ella promise to folow her
mother's last wish: to have corage and be kind. Yaers latter, Ella's farher mrries recently-widowd
Ladi Tremaine, who has two unpleasent dauhters, Drisella and Anastasia. Ella's father leves on
busines, and Lady Tremaine rveals her cruel and jalous natur, forcing Ella to give up her bedrom
to the stepsisers and move into the atic. When Ella's father inexpectedly dies, Lady Tremaine
dismissses the houshold staff to save mony, and forcez all of theire chores upon Ella. Seeing Ella's
face covred in cinders after sleping by the firepplace, her step-family mokinglu dabs her
"Cinderella"."""

corrPara = """A beautiful and kind-hearted girl named Ella and her parents live happily in a large
house with a few servants, until her mother falls ill and later dies. Ella promises to follow her
mother's last wish: to have courage and be kind. Years later, Ella's father marries recently-widowed
Lady Tremaine, who has two unpleasant daughters, Drisella and Anastasia. Ella's father leaves on
business, and Lady Tremaine reveals her cruel and jealous nature, forcing Ella to give up her
bedroom to the stepsisters and move into the attic. When Ella's father unexpectedly dies, Lady
Tremaine dismisses the household staff to save money, and forces all of their chores upon Ella.
Seeing Ella's face covered in cinders after sleeping by the fireplace, her step-family mockingly
dubs her "Cinderella"."""

In [21]:
def corriger_para(texte):
    spell = SpellChecker()
    mots = texte.split()
    mots_corr = []
    for mot in mots:
        if spell.correction(mot) is not None:
            mots_corr.append(spell.correction(mot))
        else:
            mots_corr.append(mot)
    texte_corr = ' '.join(mots_corr)
    return texte_corr, mots, mots_corr

In [22]:
para_corr, mots_avant, mots_apres = corriger_para(para)

In [23]:
print(para_corr)

A beautiful and kand-heartedd girl named fella and her parents live happily in a late house withe a few sarvints, until her father fall ill and later dies fella promise to follow her mother's last wish to have courage and be kind years latter ell's father marries recently-widowd lady remained who has two unpleasant daughters Drisella and Anastasia. ell's father lives on business and Lady remain reveals her cruel and jealous nature forcing fella to give up her bedroom to the stepsisters and move into the stick When ell's father unexpectedly dies Lady remain dismisses the household staff to save many and force all of there chores upon fella Seeing ell's face covered in cinders after sleeping by the fireplace her step-family mockingly dabs her "Cinderella".

##### Question 2 :

In [24]:
mots_corr = [mot_apres for mot_avant, mot_apres in zip(mots_avant, mots_apres) if mot_avant != mot_apres]
print(mots_corr)

['beautiful', 'girl', 'named', 'fella', 'parents', 'live', 'happily', 'late', 'house', 'few', 'until', 'father', 'fall', 'ill', 'later', 'dies', 'fella', 'follow', 'wish', 'courage', 'kind', 'years', 'latter', "ell's", 'father', 'marries', 'lady', 'remained', 'unpleasant', 'daughters', "ell's", 'lives', 'business', 'remain', 'reveals', 'jealous', 'nature', 'fella', 'bedroom', 'stepsisters', 'stick', "ell's", 'unexpectedly', 'dies', 'remain', 'dismisses', 'household', 'many', 'force', 'there', 'fella', "ell's", 'covered', 'sleeping', 'fireplace', 'mockingly']

##### Question 3 :

In [25]:
def comparer_corrections(texte_original, texte_corrig, texte_reference):

    mots_original = set(texte_original.split())
    mots_corriges = set(texte_corrig.split())
    mots_reference = set(texte_reference.split())

    mots_corrects = mots_corriges.intersection(mots_reference)
    mots_incorrects = mots_original.difference(mots_corrects)

    return mots_corrects, mots_incorrects

In [26]:
mots_corrects, mots_incorrects = comparer_corrections(para, para_corr, corrPara)

In [ ]:
mots_corrects

In [ ]:
mots_incorrects

##### Question 4 :

In [29]:
nombre_total_mots = len(para.split())
nombre_erreurs = len(mots_incorrects)
taux_erreurs = (nombre_erreurs / nombre_total_mots) * 100

In [30]:
taux_erreurs

44.44444444444444

## Partie II :

### Exercice 1 :

##### Question 1 :

In [33]:
nltk.download('wordnet')
language = wordnet.synsets('language')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [34]:
for synset in language:
    print("Definition :", synset.definition())
    print("-" * 50)

Definition : a systematic means of communicating by the use of sounds or conventional symbols
--------------------------------------------------
Definition : (language) communication by word of mouth
--------------------------------------------------
Definition : the text of a popular song or musical-comedy number
--------------------------------------------------
Definition : the cognitive processes involved in producing and understanding linguistic communication
--------------------------------------------------
Definition : the mental faculty or power of vocal communication
--------------------------------------------------
Definition : a system of words used to name things in a particular discipline
--------------------------------------------------

##### Question 2 :

In [35]:
example_sentences = []
for synset in language:
    for lemma in synset.lemmas():
        examples = lemma.synset().examples()
        example_sentences.extend(examples)

if example_sentences:
    print("Example Sentence: ", example_sentences[0])
else:
    print("No example sentences found.")

Example Sentence:  he taught foreign languages

##### Question 3 :

In [37]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [39]:
for synset in language:
    print("-" * 50)
    print("Definition (en anglais):", synset.definition())
    for lemma in synset.lemmas():
        print("Lemme (anglais):", lemma.name())
        for lang_code in ['eng', 'ita', 'fra', 'arb']:
            translation = lemma.synset().lemma_names(lang_code)
            if translation:
                print(f"Lemme ({lang_code}):", translation[0])
        print("-" * 10)

    print("\n")

--------------------------------------------------
Definition (en anglais): a systematic means of communicating by the use of sounds or conventional symbols
Lemme (anglais): language
Lemme (eng): language
Lemme (ita): idioma
Lemme (fra): langage
Lemme (arb): لُغة
----------
Lemme (anglais): linguistic_communication
Lemme (eng): language
Lemme (ita): idioma
Lemme (fra): langage
Lemme (arb): لُغة
----------


--------------------------------------------------
Definition (en anglais): (language) communication by word of mouth
Lemme (anglais): speech
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): speech_communication
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): spoken_communication
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): spoken_language
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): language
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): voice_communication
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): oral_communication
Lemme (eng): speech
Lemme (ita): lingua
Lemme (fra): langage
Lemme (arb): كلام
----------


--------------------------------------------------
Definition (en anglais): the text of a popular song or musical-comedy number
Lemme (anglais): lyric
Lemme (eng): lyric
Lemme (ita): parole
Lemme (fra): langage
----------
Lemme (anglais): words
Lemme (eng): lyric
Lemme (ita): parole
Lemme (fra): langage
----------
Lemme (anglais): language
Lemme (eng): lyric
Lemme (ita): parole
Lemme (fra): langage
----------


--------------------------------------------------
Definition (en anglais): the cognitive processes involved in producing and understanding linguistic communication
Lemme (anglais): linguistic_process
Lemme (eng): linguistic_process
Lemme (fra): langage
Lemme (arb): عملِيّة_لُغوِيّة
----------
Lemme (anglais): language
Lemme (eng): linguistic_process
Lemme (fra): langage
Lemme (arb): عملِيّة_لُغوِيّة
----------


--------------------------------------------------
Definition (en anglais): the mental faculty or power of vocal communication
Lemme (anglais): language
Lemme (eng): language
Lemme (ita): favella
Lemme (fra): langage
Lemme (arb): كلام
----------
Lemme (anglais): speech
Lemme (eng): language
Lemme (ita): favella
Lemme (fra): langage
Lemme (arb): كلام
----------


--------------------------------------------------
Definition (en anglais): a system of words used to name things in a particular discipline
Lemme (anglais): terminology
Lemme (eng): terminology
Lemme (ita): nomenclatura
Lemme (fra): Nomenclature
----------
Lemme (anglais): nomenclature
Lemme (eng): terminology
Lemme (ita): nomenclatura
Lemme (fra): Nomenclature
----------
Lemme (anglais): language
Lemme (eng): terminology
Lemme (ita): nomenclatura
Lemme (fra): Nomenclature
----------

##### Question 4 :

In [40]:
# for synset in language:
#     print("-" * 50)
#     print("Definition (en anglais):", synset.definition())
#     for lemma in synset.lemmas():
#         synonyms = [synonym.name() for synonym in lemma.synset().lemmas()]
#         if synonyms:
#             print(f"Synonymes (anglais): {', '.join(synonyms)}")
#     print("\n")

--------------------------------------------------
Definition (en anglais): a systematic means of communicating by the use of sounds or conventional symbols
Synonymes (anglais): language, linguistic_communication
Synonymes (anglais): language, linguistic_communication


--------------------------------------------------
Definition (en anglais): (language) communication by word of mouth
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication
Synonymes (anglais): speech, speech_communication, spoken_communication, spoken_language, language, voice_communication, oral_communication


--------------------------------------------------
Definition (en anglais): the text of a popular song or musical-comedy number
Synonymes (anglais): lyric, words, language
Synonymes (anglais): lyric, words, language
Synonymes (anglais): lyric, words, language


--------------------------------------------------
Definition (en anglais): the cognitive processes involved in producing and understanding linguistic communication
Synonymes (anglais): linguistic_process, language
Synonymes (anglais): linguistic_process, language


--------------------------------------------------
Definition (en anglais): the mental faculty or power of vocal communication
Synonymes (anglais): language, speech
Synonymes (anglais): language, speech


--------------------------------------------------
Definition (en anglais): a system of words used to name things in a particular discipline
Synonymes (anglais): terminology, nomenclature, language
Synonymes (anglais): terminology, nomenclature, language
Synonymes (anglais): terminology, nomenclature, language

### Execice 2 :

##### Question 1 :

In [42]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('state_union')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package state_union to /root/nltk_data...
[nltk_data]   Unzipping corpora/state_union.zip.

True

##### Question 2 :

In [52]:
sotu_words = state_union.words()
filtered_words = [word for word in sotu_words if word.isalpha()]

In [53]:
filtered_words[:10]

['PRESIDENT',
 'HARRY',
 'S',
 'TRUMAN',
 'S',
 'ADDRESS',
 'BEFORE',
 'A',
 'JOINT',
 'SESSION']

##### Question 3 :

In [54]:
stop_words = set(stopwords.words('english'))
filtered_words_no_stopwords = [word for word in filtered_words if word not in stop_words]

In [55]:
filtered_words_no_stopwords[:10]

['PRESIDENT',
 'HARRY',
 'S',
 'TRUMAN',
 'S',
 'ADDRESS',
 'BEFORE',
 'A',
 'JOINT',
 'SESSION']

##### Question 4 :

In [56]:
freq_dist = nltk.FreqDist(filtered_words_no_stopwords)
freq_dist.most_common(10)

[('I', 3394),
 ('We', 2063),
 ('must', 1568),
 ('The', 1520),
 ('people', 1291),
 ('world', 1128),
 ('year', 1097),
 ('America', 1076),
 ('And', 1057),
 ('us', 1049)]

In [57]:
mot_test = "america"

print(f"\nFréquence de '{mot_test.lower()}': {freq_dist[mot_test.lower()]}")
print(f"Fréquence de '{mot_test.capitalize()}': {freq_dist[mot_test.capitalize()]}")
print(f"Fréquence de '{mot_test.upper()}': {freq_dist[mot_test.upper()]}")

Fréquence de 'america': 0
Fréquence de 'America': 1076
Fréquence de 'AMERICA': 3

##### Question 5 :

In [58]:
filtered_words = [word.lower() for word in sotu_words if word.isalpha() and word.lower() not in set(stopwords.words('english'))]
lemmatizer = WordNetLemmatizer()
normalized_words = [lemmatizer.lemmatize(word) for word in filtered_words]
normalized_freq_dist = nltk.FreqDist(normalized_words)

In [59]:
normalized_freq_dist.most_common(10)

[('year', 1933),
 ('must', 1569),
 ('people', 1395),
 ('american', 1348),
 ('nation', 1261),
 ('world', 1213),
 ('new', 1112),
 ('america', 1088),
 ('congress', 1084),
 ('u', 1082)]

##### Question 6 :

In [62]:
all_words = [word.lower() for word in sotu_words if word.isalpha()]
text = Text(all_words)
mot_test = "america"
concordances = text.concordance(mot_test, width=100)

Displaying 25 of 1079 matches:
t is what he would want us to do that is what america will do so much blood has already been shed f
 victory today the entire world is looking to america for enlightened leadership to peace and progr
 be certain beyond any shadow of a doubt that america will continue the fight for freedom until no
 heavy price to make complete victory certain america will never become a party to any plan for par
l be found only in law and in justice here in america we have labored long and hard to achieve a so
e let me assure the forward looking people of america that there w ill be no relaxation in our effo
ntain our american way of life at this moment america along with her brave allies is paying again a
repaid they have earned our undying gratitude america will never forget their sacrifices because of
g national differences must and will be found america must assist suffering humanity back along the
ch franklin delano roosevelt always had today america has become one of the most powerful forces fo
 live up to our glorious heritage in that way america may well lead the world to peace and prosperi
loyers f agricultural programs the farmers of america generally are entering the crop year of in be
process of economic development the rivers of america offer a great opportunity to our generation i
the development of the great river systems of america there is the major opportunity of our generat
hould bar any citizen of the united states of america from an education or from good health or from
f this leadership will involve application of america s influence in world affairs with such fortit
fficiency economy and integrity the safety of america and the trust of the people alike demand that
future the best natural resources program for america will not result from exclusive dependence on
to play a significant role in the planning of america s economic future to that end i am authorizin
ese is our great and growing body of veterans america has traditionally been generous in caring for
 that objective is the building of a stronger america a nation whose every citizen has good reason
e is secure that is what i mean by a stronger america toward this objective a real momentum has bee
n the forward road to a better and a stronger america all my recommendations today are in furtheran
y council this new program will make and keep america strong in an age of peril nothing should bar
ery farmer knows he cannot prosper unless all america prospers as we seek to promote increases in o

##### Question 7 :

In [64]:
from nltk.collocations import BigramCollocationFinder, TrigramCollocationFinder, QuadgramCollocationFinder
from nltk.metrics import BigramAssocMeasures, TrigramAssocMeasures, QuadgramAssocMeasures

In [65]:
bigram_collocations = BigramCollocationFinder.from_words(text)
bigram_collocations = bigram_collocations.nbest(BigramAssocMeasures.likelihood_ratio, 10)

trigram_collocations = TrigramCollocationFinder.from_words(text)
trigram_collocations = trigram_collocations.nbest(TrigramAssocMeasures.likelihood_ratio, 10)

quadgram_collocations = QuadgramCollocationFinder.from_words(text)
quadgram_collocations = quadgram_collocations.nbest(QuadgramAssocMeasures.likelihood_ratio, 10)

In [66]:
print("Bigrammes les plus courants:")
print(bigram_collocations)

print("\nTrigrammes les plus courants:")
print(trigram_collocations)

print("\nQuadgrammes les plus courants:")
print(quadgram_collocations)

Bigrammes les plus courants:
[('we', 'must'), ('united', 'states'), ('in', 'the'), ('of', 'the'), ('we', 'have'), ('will', 'be'), ('more', 'than'), ('the', 'the'), ('it', 'is'), ('the', 'congress')]

Trigrammes les plus courants:
[('the', 'congress', 'of'), ('the', 'world', 'of'), ('the', 'state', 'of'), ('the', 'next', 'of'), ('the', 'members', 'of'), ('the', 'part', 'of'), ('the', 'most', 'of'), ('the', 'first', 'of'), ('the', 'millions', 'of'), ('the', 'union', 'of')]

Quadgrammes les plus courants:
[('of', 'the', 'congress', 'of'), ('of', 'the', 'world', 'of'), ('in', 'the', 'congress', 'of'), ('the', 'congress', 'of', 'the'), ('in', 'the', 'world', 'of'), ('the', 'world', 'of', 'the'), ('of', 'the', 'state', 'of'), ('the', 'state', 'of', 'the'), ('of', 'the', 'members', 'of'), ('in', 'the', 'state', 'of')]